<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>AirportTUM</display-name>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>de.tum.in.dbpra.IndexServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>de.tum.in.dbpra.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PayServlet</servlet-name>
		<servlet-class>de.tum.in.dbpra.PayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PayServlet</servlet-name>
		<url-pattern>/pay</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>LogInServlet</servlet-name>
		<servlet-class>de.tum.in.dbpra.LogInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogInServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckInServlet</servlet-name>
		<servlet-class>de.tum.in.dbpra.CheckInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckInServlet</servlet-name>
		<url-pattern>/checkIn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookingOverviewServlet</servlet-name>
		<servlet-class>de.tum.in.dbpra.BookingOverviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingOverviewServlet</servlet-name>
		<url-pattern>/bookingOverview</url-pattern>
	</servlet-mapping>
</web-app>